*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    padding: 20px 0px 10px 0px; 
}

.navbar{
    grid-row:1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar li{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 18px;
    margin: 5px;
}

.navbar li a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 18px;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    background-color: #fff;
    height: 32px;
    width: 225px;
    padding: 5px 15px 5px 15px;
}

input{
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0;
}

.meny{
    padding: 10px 5px 5px 5px;
    margin: 10px 5px 0px 5px;
}

.meny a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

#logo{
    font-weight: 900;
    /*text-transform: uppercase;*/
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

.ikoner{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

.ikoner i{
    padding: 1px 6px;
}

#banner{
    background-image: url("https://picsum.photos/id/44/200/300");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    position:relative;
    height: 32rem;
    border-radius: 19px;
    padding: 35px;
    margin: 5px;
}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    width: 140px;
    padding: 0;
    margin: 0;
}

.banner-container-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    margin: 5px;
}

#banner-title{
    font-size: 28px;
    margin: 15px 5px; 
}

#banner-info{
    font-size: 12px;
}

#les-mer{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border-radius: 42px;
    padding: 11px;
    width: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

.popular-container{
}

#popular-title{

}

#popular-info{

}



footer{
    font-size: 14px;
}











    @media only screen and (min-width: 600px){

    *{
        box-sizing: border-box;
    }

    body{
        font-family: Arial, Helvetica, sans-serif;
    }

    #grid-container{
        display: grid;
        grid-template-columns: 150px auto 150px;
        grid-template-rows: auto auto auto auto auto auto;
        padding: 10px;
    }

    .navbar{
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*justify-content: center;*/ 
        align-items: center;
        margin: 10px 0px 0px;;
    }

    .navbar li{
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .navbar li a{
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: 18px;
    }

    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: black;
        border-radius: 20px;
        border: 1px solid black;
        outline: none;
        background-color: #fff;
        height: 32px;
        width: 250px;
        padding: 5px 15px 5px 15px;
    }

    /*.fa-search{
        justify-content: flex-end;
    }*/

    input{
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 0;
    }

    .meny{
        display: flex;
        flex-direction: row;
        padding: 1px;
    }

    .meny a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2px;
        padding: 2px;
    }

    #logo{
        font-weight: 900;
        /*text-transform: uppercase;*/
        font-size: 40px;
        margin: 0;
    }

    .ikoner{
        padding: 5px;
        font-size: 20px;
    }

    .ikoner i{
        padding: 1px;
    }

    main{
        grid-column: 2/3;
        grid-row: 4/5;
    }

    #banner{
        display: flex;
        height: 450px;
        margin: 25px 0px 0px;
        border-radius: 30px;

    }

    .banner-container{
        display: flex;
        justify-content: center;
        align-content: space-between;
        width: 400px;
        padding: 0;
        margin: 0;
    }

    
    .banner-container-item{
        margin: 10px;
    }
    
    #banner-overskrift{
        font-size: 28px;
        font-weight: bold;

    }

    .popular-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 0.1fr 0.25fr 1fr 1fr;
        gap: 15px;
    }
    

    #popular-title{
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 40px;
        margin: 13px 0px 0px 0px;
    }
    
    #popular-undertitle{
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: lighter;
    }

    .btn{
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 25px 0px;
        list-style: none;
    }

    .knapp{
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: white;
        background-color: rgb(52, 52, 52);
        border-radius: 43px;
        padding: 15px;
        width: 150px;
        font-size: 15px;
        margin: 5px;
    }

    .popular-productcard1{
        grid-column: 1/2;
        grid-row: 4/5;
        margin: 0px 0px 10px 0px;
    }
    
    .popular-productcard2{
        grid-column: 2/3;
        grid-row: 4/5;
        margin: 0px 0px 10px 0px;
    }

    .popular-productcard3{
        grid-column: 3/4;
        grid-row: 4/5;
        margin: 0px 0px 10px 0px;
    }

    .popular-productcard4{
        grid-column: 1/2;
        grid-row: 5/6;
        margin: 0px 0px 10px 0px;
    }

    .popular-productcard5{
        grid-column: 2/3;
        grid-row: 5/6;
        margin: 0px 0px 10px 0px;
    }

    .popular-productcard6{
        grid-column: 3/4;
        grid-row: 5/6;
        margin: 0px 0px 10px 0px;
    }

    .product-photo{
        border-radius: 42px;
        width: 100%;
        margin: 0px 0px 1px 0px;
    }

    .product-description{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0;
    }

    .product-name{
        font-weight: bold;
        font-size: 18px;
    }

    .review{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .review p{
        margin: 0px;
        padding: 0px 7px;
        font-weight: bold;
    }

    footer{
        grid-column: 2/3;
        grid-row: 5/6;
    }
}
